/* header.scss */
/* line 5, ../scss/header.scss */
body {
  margin: 0 auto;
}
/* line 9, ../scss/header.scss */
body header {
  background-color: #1951A8;
  color: white;
}
/* line 14, ../scss/header.scss */
body header h1 {
  padding: 0.5em 1em 0.5em;
  margin-bottom: 0.6em;
  float: left;
  color: white;
}
/* line 23, ../scss/header.scss */
body h1 {
  font-weight: 200;
  font-family: 'Helvetica', sans-serif;
  font-size: 2em;
}
/* line 30, ../scss/header.scss */
body ul.nav {
  float: right;
  display: flex;
  justify-content: space-between;
}
/* line 36, ../scss/header.scss */
body ul.nav li {
  margin: 1em 2.5em 0 0;
}
/* line 41, ../scss/header.scss */
body ul.nav a {
  padding: 0 0 5px 0;
  margin-left: 50px;
  border-bottom: 1px solid white;
  transition: 0.4s;
  opacity: 0.8;
}
/* line 50, ../scss/header.scss */
body ul.nav a:hover {
  opacity: 1;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
}

@media screen and (max-width: 860px) {
  /* line 64, ../scss/header.scss */
  body h1 {
    font-size: 1.3em;
  }
  /* line 71, ../scss/header.scss */
  body ul.nav li {
    margin: 0.4em 2.5em 0 0;
  }
}
