
/* liste.scss */

body
{
	main
	{
		h2
		{
			color: #1951A8;
			font-size: 1em;
			margin-bottom: 0.6em;
			font-weight: bold;
		}

		form
		{
			display: flex;
			justify-content: space-between;

			input
			{
				flex: 1;
				margin-right: 1em;
				padding: 0.8em 0.8em 0.8em;
				border: 1px solid #1951A8;
			}

			input[type="button"]
			{
				background-color: #1951A8;
				color: white;
				margin-right: 0;
			}
		}

		hr
		{
			margin-top: 2em;
			opacity: 0.3;
		}

		div.news
		{
			display: flex;
			margin-bottom: 1em;

			div.headline
			{
				flex: 2;
				text-align: center;
				color: white;

				div
				{
					padding: 0.8em;
				}

				div:first-child
				{
					background-color: #2970E1;
					border-radius: 6px 0 0 0;
				}

				div:last-child
				{
					background-color: rgb(210,210,210);
					border-radius: 0 0 0 6px;
					color: rgb(55,55,55);
				}

				div:last-child:hover
				{
					opacity: 0.9;
					cursor: pointer;
				}

				div:last-child:hover .fa-heart
				{
					color: rgb(180, 40, 40);
					transform: scale(1.35);
					transition: 0.5s;
				}

			}

			div.titreNews
			{
				flex: 8;
				border-radius : 0 6px 6px 0;
				background-color: rgb(220,220,220);
				color: rgb(50,50,50);
				padding: 0.8em;
				position: relative;

				a
				{
					h3
					{
						font-weight: 200;
						margin-left: 1em;
						position: absolute;
						top: 50%; /* poussé de la moitié de hauteur du référent */
						transform: translateY(-50%); /* tiré de la moitié de sa propre hauteur */
					
						.fa-external-link
						{
							margin-left: 0.5em;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 860px)
{
	body
	{
		header
		{
			ul.nav
			{
				li
				{
					a
					{
						font-size: 0.8em;
					}
				}
			}
		}

		main
		{
			width: 90%;
			margin: 0 auto;

			form
			{
				display: flex;
				justify-content: space-between;
				flex-direction: column;

				input
				{
					flex: 1;
					margin-right: 0;
					padding: 1em;
					margin-top: 0.8em;
				}

				input[type="button"]
				{
					padding: 1em 0.5em 2.2em;
				}
			}
		}
	}
}
